.wrapper {
    max-width: 896px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 0.2px solid #767676;
}

.header .text {
    color: #fff;
}

.commentsList {
    margin-top: 32px;
}

.buttonWrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}